{% extends 'base.html.twig' %}

{% block title %}List of offers{% endblock %}

{% block body %}
<div class="container d-flex justify-content-md-center" style="max-width: 800px;">
    <div class="card shadow-lg">
        <div class="card-header">

        <h4>List of offers</h4>
        </div>
        <div class="card-body">
        <table class="table table-hover " id="tournaments">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Duration</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for offer in offers %}
                <tr>
                    <td>{{ offer.id }}</td>
                    <td>{{ offer.name }}</td>
                    <td>{{ offer.description }}</td>
                    <td>{{ offer.price }}</td>
                    <td>{{ offer.duration }}</td>
                    <td>
                        <a href="{{ path('delete_offer',{ 'id': offer.id }) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this offer?');">Delete</a>
                        <a href="{{ path('edit_offer',{ 'id': offer.id }) }}" class="btn btn-warning" onclick="return confirm('Are you sure you want to delete this offer?');">Edit</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            <a href="{{ path('add_offer') }}" class="btn btn-primary">Add an offer</a>

        </div>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {% if label == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <script>
                        setTimeout(function(){
                            $('.alert').alert('close');
                        }, 3000);
                    </script>
                {% endif %}
            {% endfor %}
        {% endfor %}

    </div>
    </div>  </div> </div>
{% endblock %}
{% block footer %}

{% endblock %}
