{% extends 'base.html.twig' %}

{% block title %}Edit Tournament{% endblock %}

{% block body %}
<div class="container">
<a href="{{ path('app_tournament_index') }}">Back</a>
  <h3 class="mt-5 mb-5" style="font-size: 22px;
              font-weight: bold;
                     text-align: center;
                        color: #333;
                           margin-top: 30px;
                               margin-bottom: 10px;"> Create Tournament</h3>
    <div class="col-md-6 offset-md-3"> 
    
{{form_start(form)}}
            <div class="group-form"> 
                {{form_label(form.name)}}
                {{form_widget(form.name,{'attr':{'class':'form-control'}})}}
             </div>
             <div class="group-form"> 
                {{form_label(form.description)}}
                {{form_widget(form.description,{'attr':{'class':'form-control'}})}}
             </div>
             <div class="group-form"> 
                {{form_label(form.prise)}}
                {{form_widget(form.prise,{'attr':{'class':'form-control'}})}}
             </div>
             <div class="group-form"> 
                {{form_label(form.startdate)}}
                {{form_widget(form.startdate)}}
             </div>
             <div class="group-form"> 
                {{form_label(form.enddate)}}
                {{form_widget(form.enddate)}}
             </div>
             <div class="group-form"> 
                {{form_label(form.photo)}}
                {{form_widget(form.photo,{'attr':{'class':'form-control'}})}}
             </div>
             
             
    {{ include('tournament/_form.html.twig', {'button_label': 'Update'}) }}

    

    {{ include('tournament/_delete_form.html.twig') }}
    </div>
    {{form_end(form)}}
    </div>
{% endblock %}
